
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Build & reports
dist/
allure-results/
allure-report/
tta-report/
test-results.xml
logs/

# Env
.env
